{% extends "details.html" %} {% block title %} Extras {%endblock%}
{% block header %} Extra Info {%endblock%}

{% block main %}
<button data-bs-toggle="modal" data-bs-target="#modalCenter2" class="btn btn-outline-primary mb-5">Add Extra</button>

<div class="card">
    <div class="card-body">

        <div class="demo-inline-spacing mt-3">
            <div class="list-group">


                {% for row in current_user.extra %}
                <a href="javascript:void(0);"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between w-100">
                        <h6>{{ row['title'] }}</h6>
                        <small>
                            <span data-bs-toggle="modal" data-id="{{ row['_id'] }}" data-title="{{ row['title'] }}"
                                data-description='{{ row["description"] | safe }}' onclick="editform(this)"
                                data-bs-target="#modalCenter" class="text-info tf-icons bx bx-pencil"></span>
                            <span onclick='follow(`/deleteExtra/{{ row["_id"] }}`)'
                                class="text-danger tf-icons bx bx-trash"></span>
                        </small>
                    </div>
                    <p class="mb-1">
                        <p>

                            {{row['description'] | safe}}
                        </p>
                    </p>
                </a>
                {%endfor%}

            </div>
        </div>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit this item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/editExtra" id="editExtra" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="extra" class="form-label">Title</label>
                            <input type="text" name="title" class="form-control" id="editTitle">
                        </div>

                        <div class="mb-3">
                            <label for="editDescription" class="form-label">Details</label>
                            <div id="editDescription" class="form-control"></div>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenter2Title">Add an item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/submitExtra" id="submitExtra" method="post">
                        <div class="mb-3">
                            <label for="extra" class="form-label">Title</label>
                            <input type="text" name="title" required aria-describedby="extra" class="form-control" id="extra">
                        </div>
                        <div class="mb-3">
                            <label for="extraDetail" class="form-label">Details</label>
                            <div id="extraDetail" aria-required="true" aria-describedby="extraDetail" class="form-control"></div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

<script>
    const quill = new Quill('#editDescription', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block'],
                [{ list: 'ordered' }],
            ],
        },
        theme: 'snow'
    });

    const quill2 = new Quill('#extraDetail', {
        modules: {
            toolbar: [
                ['bold', 'italic'],
                ['link', 'blockquote', 'code-block'],
                [{ list: 'ordered' }],
            ],
        },
        theme: 'snow'
    });

    function editform(e) {
        var id = e.getAttribute("data-id");
        var title = e.getAttribute("data-title");
        var description = e.getAttribute("data-description");
        const data = {
            description: [
                {
                    insert: description
                },
            ],
        };

        document.getElementById("editId").value = id;
        document.getElementById("editTitle").value = title;
        quill.setContents([]);
        quill.clipboard.dangerouslyPasteHTML(0, description);
    }

    function follow(link) {
        location.href = link
    }


    const form = document.getElementById('submitExtra');
    form.addEventListener('formdata', (event) => {
        event.preventDefault();
        // Append Quill content before submitting
        event.formData.append('description', quill2.root.innerHTML);
        form.submit()
    });

    const form2 = document.getElementById('editExtra');
    form2.addEventListener('formdata', (event) => {
        event.preventDefault();
        // Append Quill content before submitting
        event.formData.append('description', quill.root.innerHTML);
        form.submit()
    });
</script>

{%endblock%}