{% extends "details.html" %} {% block title %} Interests {%endblock%}
{% block header %} Interests {%endblock%}

{% block main %}
<div class="card">
    <div class="card-body">

        <div class="demo-inline-spacing mt-3">
            <div class="list-group">


                {% for row in interest %}
                <a href="javascript:void(0);"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between w-100">
                        <h6>{{ row['name'] }}</h6>
                        <small>
                            <span data-bs-toggle="modal" data-id="{{ row['_id'] }}" data-name="{{ row['name'] }}"
                                onclick="editform(this)" data-bs-target="#modalCenter"
                                class="text-info tf-icons bx bx-pencil"></span>
                            <span onclick='follow(`/deleteEducation/{{ row["_id"] }}`)'
                                class="text-danger tf-icons bx bx-trash"></span>
                        </small>
                    </div>
                </a>
                {%endfor%}

            </div>
        </div>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit this experience</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/submitExperience" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="interest" class="form-label">Interest</label>
                            <input type="text" name="name" class="form-control" id="editInterest">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        function editform(e) {
            var id = e.getAttribute("data-id");
            var name = e.getAttribute("data-name");

            document.getElementById("editId").value = id;
            document.getElementById("editInterest").value = name;
        }

        function follow(link) {
            location.href = link
        }
    </script>

    {%endblock%}