<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
    data-assets-path="{{ url_for('static', filename='assets/') }}" data-template="vertical-menu-template-free">

<head>
    <meta charset="utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <meta name="description"
        content="Introducing NResume: the ultimate online platform for crafting tailored resumes optimized for the Nigerian job market. With customizable templates, keyword optimization, and local market insights, our intuitive resume builder ensures your CV stands out to Nigerian recruiters. Accessible on any device, NResume prioritizes data privacy and security, empowering you to confidently present your credentials and land your dream job in Nigeria. Join thousands of satisfied users and kickstart your professional journey with NResume today!">
    <title>NResume | Build Resume</title>

    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon/favicon.ico') }}" />

    <link rel="apple-touch-icon" sizes="180x180"
        href="{{ url_for('static', filename='assets/img/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="{{ url_for('static', filename='assets/img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
        href="{{ url_for('static', filename='assets/img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='assets/img/favicon/site.webmanifest') }}">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet" />

    <!-- Icons. Uncomment required icon fonts -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/fonts/boxicons.css') }}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/core.css') }}"
        class="template-customizer-core-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/css/theme-default.css') }}"
        class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/demo.css') }}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet"
        href="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css') }}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{{ url_for('static', filename='assets/vendor/js/helpers.js') }}"></script>

    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="{{ url_for('static', filename='assets/js/config.js') }}"></script>

    <style>
        * {
            font-family: Arial, Helvetica, sans-serif;
        }

        .card2 {
            height: 80vh;
            width: 100%;
            overflow: hidden;
        }


        .btn-group {
            opacity: 0.7;
            position: fixed;
            z-index: 1000;
            top: 80vh;
            left: 50vw;
            background-color: #fff;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
        }

        iframe {
            width: 100%;
            height: 100%;
        }

        .mobile-bottom {
            display: none;
            position: fixed;
            bottom: 0;
        }

        .mobile-editlink {
            display: none;
        }

        @media (max-width: 800px) {

            .card2 {
                height: 100vh;
                overflow: hidden;
            }

            .card2 .card-body {
                width: 800px;
                height: 100vh;
                overflow: hidden;
            }

            iframe {
                width: 76.92% !important;
                height: 100% !important;
                -webkit-transform: scale(0.5);
                transform: scale(0.5);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                overflow: hidden;
            }

            .mobile-bottom {
                display: block;
                width: 100%;
                border-radius: 0;
                box-shadow: 5px rgba(0, 0, 0, 0.5);
            }

            mobile-editlink {
                display: table;
            }

            .sections {
                display: none;
            }
        }
    </style>
</head>

<body>


    {% with messages = get_flashed_messages()%}
    {% if messages%}
    {% for message in messages%}
    <div style="position: fixed; top: 30;" class="bs-toast toast fade show bg-primary" role="alert" role="alert"
        data-delay="2000" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-semibold">NResume</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{message}}
        </div>
    </div>

    <script>
        setTimeout(function () {
            var messages = document.getElementsByClassName('toast').length
            for (let index = 0; index < messages; index++) {
                const element = document.getElementsByClassName('toast')[index];
                element.classList.replace('show', 'hide');
            }
        }, 6000)
    </script>
    {%endfor%}
    {%endif%}
    {%endwith%}


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="{{ url_for('static', filename='assets/img/favicon/NR.svg') }}" alt="" srcset="">
            </a>
        </div>
    </nav>





    <div class="container-xxl flex-grow-1 container-p-y">

        <a href="javascript:void(0)" class="d-md-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvasEnd"
            aria-controls="offcanvasEnd">[Edit Template]</a>

        <div class="row">
            <div class="col-md-8 col-sm-12">


                <div class="card card2">
                    <div class="card-body">
                        <iframe id="preview-frame" allowfullscreen frameborder="0" title="Live Preview">
                        </iframe>
                    </div>
                </div>


                <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalCenterTitle">Download Resume</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <form action="/download" method="post">
                                        <div class="mb-3">
                                            <input type="hidden" name="default_name" value="{{filename}}">
                                            <label for="name" class="form-label">PDF Name</label>
                                            <input type="text" class="form-control" id="editCompany" name="filename"
                                                aria-describedby="company">
                                            <small>Please input a name or use the default
                                                <strong>{{filename}}</strong></small>
                                        </div>

                                        <div class="mb-3">
                                            <p>
                                                Please can you give us feedback <a href="/feedback">here</a>
                                            </p>
                                        </div>

                                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 sections">
                <div class="accordion mt-3" id="sectionGroup">
                    <div class="card accordion-item active">
                        <h2 class="accordion-header" id="headingFonts">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                data-bs-target="#sections" aria-expanded="true" aria-controls="sections">
                                Sections
                            </button>
                        </h2>

                        <div id="sections" class="accordion-collapse collapse" data-bs-parent="#sectionGroup">
                            <div class="accordion-body">
                                <div class="list-group">
                                    <a href="/profile" class="list-group-item list-group-item-action">Personal
                                        Information</a>
                                    <a href="/experience" class="list-group-item list-group-item-action">Work
                                        History</a>
                                    <a href="education" class="list-group-item list-group-item-action">Education</a>
                                    <a href="/projects" class="list-group-item list-group-item-action">Projects
                                        Undertaken</a>

                                    <a href="/certifications"
                                        class="list-group-item list-group-item-action">Certifications</a>
                                    <a href="/skills" class="list-group-item list-group-item-action">Skills</a>
                                    <a href="/socials" class="list-group-item list-group-item-action">Important Social
                                        Media Links</a>
                                    <a href="/interests" class="list-group-item list-group-item-action">Hubbies and
                                        Interests</a>
                                    <a href="/volunteer" class="list-group-item list-group-item-action">Volunteer and
                                        Contributions Made</a>
                                    <a href="/extra" class="list-group-item list-group-item-action">Extra (Any extra
                                        information to add)</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingFonts">
                            <button type="button" class="accordion-button" data-bs-toggle="collapse"
                                data-bs-target="#accordionFonts" aria-expanded="true" aria-controls="accordionFonts">
                                Fonts and Colors
                            </button>
                        </h2>

                        <div id="accordionFonts" class="accordion-collapse collapse" data-bs-parent="#sectionGroup">
                            <div class="accordion-body">
                                <form action="/editfontsandcolors" id="editFontsAndColors" method="post">
                                    <div class="mb-3">
                                        <label for="fonts" class="form-label">Font
                                            Type</label>
                                        <select class="form-select" id="fonts" name="font" aria-label="Select Font">
                                            {%for font in fonts%}
                                            {%if font['_id'] == current_user.font%}
                                            <option selected value="{{font['_id']}}">
                                                {{font['name']}}</option>
                                            {%else%}
                                            <option value="{{font['_id']}}">{{font['name']}}
                                            </option>
                                            {% endif %}
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="backgroundColor" class="form-label">Background Color</label>
                                        <input type="color" class="form-control form-control-color" id="backgroundColor"
                                            name="backgroundColor" value="{{current_user.background_color}}"
                                            title="Choose a color">
                                    </div>
                                    <div class="mb-3">
                                        <label for="primaryColor" class="form-label">Primary
                                            Font Color</label>
                                        <input type="color" class="form-control form-control-color" id="primaryColor"
                                            name="primaryColor" value="{{current_user.primary_color}}"
                                            title="Choose a color">
                                    </div>
                                    <div class="mb-3">
                                        <label for="secondaryColor" class="form-label">Secondary
                                            Font Color</label>
                                        <input type="color" class="form-control form-control-color" id="secondaryColor"
                                            name="secondaryColor" value="{{current_user.secondary_color}}"
                                            title="Choose a color">
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                                data-bs-target="#accordionTwo" aria-expanded="false" aria-controls="accordionTwo">
                                Social Media Selections
                            </button>
                        </h2>
                        <div id="accordionTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#sectionGroup">
                            <div class="accordion-body">
                                <form action="/socialsallowed" method="post">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="email_bool"
                                            id="defaultCheck3" {% if current_user.email_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Email </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="personal_bool"
                                            id="defaultCheck3" {% if current_user.personal_bool=="on" %} checked {%
                                            endif %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Personal Website </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="linkedin_bool"
                                            id="defaultCheck3" {% if current_user.linkedin_bool=="on" %} checked {%
                                            endif %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            LinkedIn </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="twitter_bool"
                                            id="defaultCheck3" {% if current_user.twitter_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Twitter </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="instagram_bool"
                                            id="defaultCheck3" {% if current_user.instagram_bool=="on" %} checked {%
                                            endif %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Instagram </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="youtube_bool"
                                            id="defaultCheck3" {% if current_user.youtube_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Youtube </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="tiktok_bool"
                                            id="defaultCheck3" {% if current_user.tiktok_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Tiktok </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="github_bool"
                                            id="defaultCheck3" {% if current_user.github_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Github </label>
                                    </div>

                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="phone_bool"
                                            id="defaultCheck3" {% if current_user.phone_bool=="on" %} checked {% endif
                                            %} />
                                        <label class="form-check-label" for="defaultCheck3">
                                            Phone Number </label>
                                    </div>

                                    <button type="submit" class="btn btn-primary w-100">Submit</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->



    <div class="card mobile-bottom bg-dark" tabindex="-1">
        <div class="card-body">
            <div class="row container-fluid">
                <div class="col-12">
                    <button type="button" class="btn btn-outline-light dropdown-toggle w-100 mb-2"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sections
                    </button>
                    <ul class="dropdown-menu" style="width: 74%;">
                        <li><a href="/profile" class="dropdown-item">Personal
                                Information</a></li>
                        <li><a href="/experience" class="dropdown-item">Work
                                History</a></li>
                        <li><a href="education" class="dropdown-item">Education</a></li>
                        <li><a href="/projects" class="dropdown-item">Projects
                                Undertaken</a></li>

                        <li><a href="/certifications" class="dropdown-item">Certifications</a></li>
                        <li><a href="/skills" class="dropdown-item">Skills</a></li>
                        <li><a href="/interests" class="dropdown-item">Hubbies and
                                Interests</a></li>
                    </ul>
                </div>
                <div class="col-12">
                    <button type="button" class="btn btn-outline-warning w-100" data-bs-toggle="modal"
                        data-bs-target="#modalCenter">
                        Download
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasEnd" aria-labelledby="offcanvasEndLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasEndLabel" class="offcanvas-title">Edit Template</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body my-auto mx-0 flex-grow-0">
            <div class="accordion mt-3" id="mobile_sectionGroup">
                <div class="card accordion-item active">
                    <h2 class="accordion-header" id="mobile_headingFonts">
                        <button type="button" class="accordion-button" data-bs-toggle="collapse"
                            data-bs-target="#mobile_accordionFonts" aria-expanded="true" aria-controls="mobile_accordionFonts">
                            Fonts and Colors
                        </button>
                    </h2>

                    <div id="mobile_accordionFonts" class="accordion-collapse collapse" data-bs-parent="#mobile_sectionGroup">
                        <div class="accordion-body">
                            <form action="/editfontsandcolors" id="editFontsAndColors" method="post">
                                <div class="mb-3">
                                    <label for="fonts" class="form-label">Font
                                        Type</label>
                                    <select class="form-select" id="fonts" name="font" aria-label="Select Font">
                                        {%for font in fonts%}
                                        {%if font['_id'] == current_user.font%}
                                        <option selected value="{{font['_id']}}">
                                            {{font['name']}}</option>
                                        {%else%}
                                        <option value="{{font['_id']}}">{{font['name']}}
                                        </option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="backgroundColor" class="form-label">Background Color</label>
                                    <input type="color" class="form-control form-control-color" id="backgroundColor"
                                        name="backgroundColor" value="{{current_user.background_color}}"
                                        title="Choose a color">
                                </div>
                                <div class="mb-3">
                                    <label for="primaryColor" class="form-label">Primary
                                        Font Color</label>
                                    <input type="color" class="form-control form-control-color" id="primaryColor"
                                        name="primaryColor" value="{{current_user.primary_color}}"
                                        title="Choose a color">
                                </div>
                                <div class="mb-3">
                                    <label for="secondaryColor" class="form-label">Secondary
                                        Font Color</label>
                                    <input type="color" class="form-control form-control-color" id="secondaryColor"
                                        name="secondaryColor" value="{{current_user.secondary_color}}"
                                        title="Choose a color">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="mobile_headingTwo">
                        <button type="button" class="accordion-button collapsed" data-bs-toggle="collapse"
                            data-bs-target="#mobile_accordionTwo" aria-expanded="false" aria-controls="mobile_accordionTwo">
                            Social Media Selections
                        </button>
                    </h2>
                    <div id="mobile_accordionTwo" class="accordion-collapse collapse" aria-labelledby="mobile_headingTwo"
                        data-bs-parent="#mobile_sectionGroup">
                        <div class="accordion-body">
                            <form action="/socialsallowed" method="post">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="email_bool" id="defaultCheck3"
                                        {% if current_user.email_bool=="on" %} checked {% endif %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Email </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="personal_bool"
                                        id="defaultCheck3" {% if current_user.personal_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Personal Website </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="linkedin_bool"
                                        id="defaultCheck3" {% if current_user.linkedin_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        LinkedIn </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="twitter_bool"
                                        id="defaultCheck3" {% if current_user.twitter_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Twitter </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="instagram_bool"
                                        id="defaultCheck3" {% if current_user.instagram_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Instagram </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="youtube_bool"
                                        id="defaultCheck3" {% if current_user.youtube_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Youtube </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="tiktok_bool"
                                        id="defaultCheck3" {% if current_user.tiktok_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Tiktok </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="github_bool"
                                        id="defaultCheck3" {% if current_user.github_bool=="on" %} checked {% endif
                                        %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Github </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="phone_bool" id="defaultCheck3"
                                        {% if current_user.phone_bool=="on" %} checked {% endif %} />
                                    <label class="form-check-label" for="defaultCheck3">
                                        Phone Number </label>
                                </div>

                                <button type="submit" class="btn btn-primary w-100">Submit</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="content-footer footer bg-footer-theme">
        <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
            <div class="mb-2 mb-md-0">


            </div>
        </div>
    </footer>
    <!-- / Footer -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{{ url_for('static', filename='assets/vendor/libs/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/libs/popper/popper.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/js/bootstrap.js') }}"></script>
    <script
        src="{{ url_for('static', filename='assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/js/menu.js') }}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->

    <!-- Main JS -->
    <script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>

    <!-- Page JS -->
    <script src="{{ url_for('static', filename='assets/js/pages-account-settings-account.js') }}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>

    <script>
        var doc = document.getElementById('preview-frame').contentWindow.document;
        doc.open();
        doc.write(`{{info|safe}}`);
        doc.close();

    </script>
</body>

</html>