{% extends "details.html" %} {% block title %} View Profile {%endblock%}

{% block header %} View Profile {%endblock%}

{% block main %}
<div class="card">
    <div class="card-body">
        <section>
            <h4>Basic Information</h4>
            <div class="px-4">
                <p>Name: {{ user['first_name'] }} {{ user['last_name'] }}</p>
                <p>Address: {{ user['address'] }}</p>
                <p>Country: {{ user['country'] }}</p>
                <p>Date of Birth: {{ user['date_of_birth'] }}</p>
                <p>Email: {{ user['email'] }}</p>
                <p>Phone Number: {{ user['phone_number'] }}</p>
            </div>
        </section>
        <hr>

        <section>
            <h4>Experience</h4>

            {% if user['experience'] != [] %}
            {% for row in user['experience'] %}
            <div class="mb-3 px-4">
                <h5><u>{{ row['company'] }}</u></h5>
                <p>{{ row['date_started'] }} to {{row['date_ended']}}</p>
                <p>{{ row['role'] }}</p>
                <p>{{ row['description'] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No Information here</p>
            {% endif %}
        </section>
        <hr>


        <section>
            <h4>Education</h4>

            {% if user['education'] != [] %}
            {% for row in user['education'] %}
            <div class="mb-3 px-4">
                <h5><u>{{ row['award'] }}</u></h5>
                <p>{{ row['department'] }}</p>
                <p>{{ row['faculty'] }}</p>
                <p>{{ row['school'] }}</p>
                <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No Information here</p>
            {% endif %}
        </section>
        <hr>

        <section>
            <h4>Certifications</h4>

            {% if user['certifications'] != [] %}
            {% for row in user['certifications'] %}
            <div class="mb-3 px-4">
                <p>{{row['name']}}</p>
                <p>{{row['organization']}}</p>
                <p>{{row['date']}}</p>
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <h4>Projects</h4>

            {% if user['projects'] != [] %}
            {% for row in user['projects'] %}
            <div class="mb-3 px-4">
                <h5><u>{{row['name']}}</u></h5>
                <p>{{row['description']}}</p>
                <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
                {% if row['link'] != "" %}
                <a href="{{row['link']}}"></a>
                {%endif%}
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <h4>Skills</h4>

            {% if user['skills'] != [] %}
            {% for row in user['skills'] %}
            <p>{{row['name']}}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <h4>Volunteering</h4>

            {% if user['volunteer'] != [] %}
            {% for row in user['volunteer'] %}
            <h5><u>{{row['organization']}}</u></h5>
            <p>{{row['role']}}</p>
            <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <h4>Interests/Hobbies</h4>

            {% if user['interests'] != [] %}
            {% for row in user['interests'] %}
            <p>{{ row['name'] }}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>

            {% if user['extra_info'] != [] %}
            {% for row in user['extra_info'] %}
            <div class="mb-3 px-4">
                <h4>{{row['extra_title']}}</h4>
                <p>{{row['extra_description']}}</p>
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
    </div>
</div>

{%endblock%}