{% extends "details.html" %} {% block title %} View Profile {%endblock%}

{% block header %} {%endblock%}

{% block main %}
<style>
    section {
        position: relative;
    }
    .btn-group {
        position: relative;
        float: right;
        clear: both;
    }
</style>

<div class="card">
    <div class="card-body">
        <section>
            <div class="btn-group" role="group">
                <a href="/profile" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Basic Information</h4>
            <div class="px-4">
                <p>Name: {{ current_user.first_name }} {{ current_user.last_name }}</p>
                <p>Address: {{ current_user.address }}</p>
                <p>Country: {{ current_user.country }}</p>
                <p>Date of Birth: {{ current_user.date_of_birth }}</p>
                <p>Email: {{ current_user.email }}</p>
                <p>Phone Number: {{ current_user.phone_number }}</p>
            </div>
        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/experience" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            
            <h4>Experience</h4>

            {% if current_user.experience != [] %}
            {% for row in current_user.experience %}
            <div class="mb-3 px-4">
                <h5><u>{{ row['company'] }}</u></h5>
                <p>{{ row['date_started'] }} to {{row['date_ended']}}</p>
                <p>{{ row['role'] }}</p>
                <p>{{ row['description'] | safe }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No Information here</p>
            {% endif %}
        </section>
        <hr>


        <section>
            <div class="btn-group" role="group">
                <a href="/education" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Education</h4>

            {% if current_user.education != [] %}
            {% for row in current_user.education %}
            <div class="mb-3 px-4">
                <h5><u>{{ row['award'] }}</u></h5>
                <p>{{ row['department'] }}</p>
                <p>{{ row['faculty'] }}</p>
                <p>{{ row['school'] }}</p>
                <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No Information here</p>
            {% endif %}
        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/certification" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Certifications</h4>

            {% if current_user.certifications != [] %}
            {% for row in current_user.certifications %}
            <div class="mb-3 px-4">
                <p>{{row['name']}}</p>
                <p>{{row['organization']}}</p>
                <p>{{row['date']}}</p>
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/prokects" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Projects</h4>

            {% if current_user.projects != [] %}
            {% for row in current_user.projects %}
            <div class="mb-3 px-4">
                <h5><u>{{row['name']}}</u></h5>
                <p>{{row['description'] | safe }}</p>
                <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
                {% if row['link'] != "" %}
                <a href="{{row['link']}}"></a>
                {%endif%}
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/skills" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Skills</h4>

            {% if current_user.skills != [] %}
            {% for row in current_user.skills %}
            <p>{{row['name']}}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/volunteer" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Volunteering</h4>

            {% if current_user.volunteer != [] %}
            {% for row in current_user.volunteer %}
            <h5><u>{{row['organization']}}</u></h5>
            <p>{{row['role']}}</p>
            <p>{{ row['date_started'] }} to {{ row['date_ended'] }}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>
            <div class="btn-group" role="group">
                <a href="/interests" class="btn btn-outline-primary">
                    <i class="bx bx-pencil"></i>
                </a>
            </div>
            <h4>Interests/Hobbies</h4>

            {% if current_user.interests != [] %}
            {% for row in current_user.interests %}
            <p>{{ row['name'] }}</p>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
        <hr>

        <section>

            {% if current_user.extra_info != [] %}
            {% for row in current_user.extra_info %}
            <div class="mb-3 px-4">
                <h4>{{row['extra_title']}}</h4>
                <p>{{row['extra_description'] | safe }}</p>
            </div>
            {%endfor%}
            {% else %}
            <p>No Information here</p>
            {% endif %}

        </section>
    </div>
</div>

{%endblock%}