{% extends "details.html" %} {% block title %} Projects {%endblock%}
{% block header %} Projects {%endblock%}

{% block main %}
<button data-bs-toggle="modal" data-bs-target="#modalCenter2" class="btn btn-outline-primary mb-5">Add Project</button>

<div class="card">
    <div class="card-body">

        <div class="demo-inline-spacing mt-3">
            <div class="list-group">


                {% for row in project %}
                <a href="javascript:void(0);"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between w-100">
                        <h6>{{ row['name'] }}</h6>
                        <small>
                            <span data-bs-toggle="modal" data-id="{{ row['_id'] }}" data-name="{{ row['name'] }}"
                                data-dateStarted="{{ row['date_started'] }}" data-dateEnded="{{ row['date_ended'] }}"
                                data-link="{{ row['link'] }}" data-description="{{ row['description'] }}"
                                onclick="editform(this)" data-bs-target="#modalCenter"
                                class="text-info tf-icons bx bx-pencil"></span>
                            <span onclick='follow(`/deleteProject/{{ row["_id"] }}`)'
                                class="text-danger tf-icons bx bx-trash"></span>
                        </small>
                    </div>
                    <p class="mb-1">
                        <p>Started {{ row['date_started'] }} to {{ row['date_ended'] }}</p>
                        <p>{{ row['description'] }}</p>
                        <small><a href="{{row['link']}}">Click here to see project</a></small>
                    </p>
                </a>
                {%endfor%}

            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit this item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/editProject" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="course" class="form-label">Project Name</label>
                            <input type="text" name="name" class="form-control" id="editName" aria-describedby="name">
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Link</label>
                            <input type="text" name="link" class="form-control" id="editLink"
                                aria-describedby="editLink">
                        </div>

                        <div class="mb-3">
                            <label for="faculty" class="form-label">Date Started</label>
                            <input type="date" name="date_started" class="form-control" id="editDateStarted"
                                aria-describedby="faculty">
                        </div>

                        <div class="mb-3">
                            <label for="school" class="form-label">Date Ended</label>
                            <input type="date" name="date_ended" class="form-control" id="editDateEnd"
                                aria-describedby="school">
                        </div>

                        <div>
                            <label for="editDescription" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="editDescription" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenter2Title">Edit this item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/submitProject" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="course" class="form-label">Project Name</label>
                            <input type="text" name="name" class="form-control" id="name" aria-describedby="name">
                        </div>

                        <div class="mb-3">
                            <label for="course" class="form-label">Link</label>
                            <input type="text" name="link" class="form-control" id="link" aria-describedby="editLink">
                        </div>

                        <div class="mb-3">
                            <label for="faculty" class="form-label">Date Started</label>
                            <input type="date" name="date_started" class="form-control" id="dateStarted"
                                aria-describedby="faculty">
                        </div>

                        <div class="mb-3">
                            <label for="school" class="form-label">Date Ended</label>
                            <input type="date" name="date_ended" class="form-control" id="dateEnd"
                                aria-describedby="school">
                        </div>

                        <div>
                            <label for="editDescription" class="form-label">Description</label>
                            <textarea class="form-control" name="description" id="description" rows="3"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function editform(e) {
        var id = e.getAttribute("data-id");
        var name = e.getAttribute("data-name");
        var link = e.getAttribute("data-link");
        var description = e.getAttribute("data-description");
        var dateStarted = e.getAttribute("data-dateStarted");
        var dateEnded = e.getAttribute("data-dateEnded");

        document.getElementById("editId").value = id;
        document.getElementById("editName").value = name;
        document.getElementById("editLink").value = link;
        document.getElementById("editDescription").innerText = description;
        document.getElementById("editDateStarted").value = dateStarted;
        document.getElementById("editDateEnd").value = dateEnded;
    }

    function follow(link) {
        location.href = link
    }
</script>

{%endblock%}