{% extends "details.html" %} {% block title %} Profile {%endblock%}
{% block header %} <li class="breadcrumb-item">
    <a href="javascript:void(0);">User Profile</a>
</li> {%endblock%}

{% block main %}

<div class="card mb-4">
    <h5 class="card-header">Profile Details</h5>
    <!-- Account -->
    <div class="card-body">
        <form action="/uploadfile" enctype="multipart/form-data" method="post">
            <div class="d-flex align-items-start align-items-sm-center gap-4">
                <img src="{{ url_for('static', filename=current_user.profile_picture) }}" alt="user-avatar"
                    class="d-block rounded" height="100" width="100" id="uploadedAvatar" />
                <div class="button-wrapper">
                    <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                        <span class="d-none d-sm-block">Upload new photo</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" id="upload" name="file" class="account-file-input" hidden
                            accept="image/png, image/jpeg" />
                    </label>
                    <button type="submit" class="btn btn-outline-secondary account-image-reset mb-4">
                        <i class="bx bx-reset d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Submit</span>
                    </button>

                    <p class="text-muted mb-0">Allowed JPG or PNG.</p>
                </div>
            </div>
        </form>
    </div>
    <hr class="my-0" />
    <div class="card-body">
        <form action="/profile" method="POST">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="{{current_user.title}}" required class="form-control" id="title" name="title"
                        aria-describedby="title">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" value="{{current_user.last_name}}" required class="form-control" id="lastName" name="last_name"
                        aria-describedby="lastName">
                </div>
                <div class="mb-3 col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstDate" required value="{{current_user.first_name}}" name="first_name"
                        aria-describedby="firstName">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" class="form-control" value="{{current_user.email}}" id="email" readonly
                        aria-describedby="email">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="state" class="form-label">State</label>
                    <input type="text" class="form-control" id="state" required value="{{current_user.address}}" name="state"
                        aria-describedby="state">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" required value="{{current_user.country}}" name="country"
                        aria-describedby="country">
                </div>

                <div class="mb-3 col-md-6">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input type="text" class="form-control" id="phoneNumber" required value="{{current_user.phone_number}}"
                        name="phone_number" aria-describedby="phoneNumber">
                </div>
            </div>
            <div class="mt-2">
                <button type="submit" class="btn btn-primary me-2">Save changes</button>
            </div>
        </form>
    </div>
    <!-- /Account -->
</div>


{%endblock%}