{% extends "details.html" %} {% block title %} Volunteer {%endblock%}
{% block header %} <li class="breadcrumb-item">
    <a href="javascript:void(0);">Volunteer</a>
</li> {%endblock%}

{% block main %}
<button data-bs-toggle="modal" data-bs-target="#modalCenter2" class="btn btn-outline-primary mb-5">Add Volunteer Info</button>

<div class="card">
    <div class="card-body">

        <div class="demo-inline-spacing mt-3">
            <div class="list-group">


                {% for row in current_user.volunteer %}
                <a href="javascript:void(0);"
                    class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex justify-content-between w-100">
                        <h6>{{ row['organization'] }}</h6>
                        <small>
                            <span data-bs-toggle="modal" data-id="{{ row['_id'] }}" data-role="{{ row['role'] }}"
                                data-dateStarted="{{ row['date_started'] }}" data-dateEnded="{{ row['date_ended'] }}"
                                data-organization="{{ row['organization'] }}" onclick="editform(this)"
                                data-bs-target="#modalCenter" class="text-info tf-icons bx bx-pencil"></span>
                            <span onclick='follow(`/deleteVolunteer/{{ row["_id"] }}`)'
                                class="text-danger tf-icons bx bx-trash"></span>
                        </small>
                    </div>
                    <p class="mb-1">
                        <p>{{ row['role'] }} from {{ row['date_started'] }} to {{ row['date_ended'] }}</p>
                    </p>
                </a>
                {%endfor%}

            </div>
        </div>

    </div>
</div>





<!-- Modal -->
<div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenterTitle">Edit this item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/editVolunteer" method="post">
                        <input type="hidden" id="editId" name="id">
                        <div class="mb-3">
                            <label for="editOrganization" class="form-label">Organization</label>
                            <input type="text" name="organization" required class="form-control" id="editOrganization"
                                aria-describedby="editOrganization">
                        </div>

                        <div class="mb-3">
                            <label for="editRole" class="form-label">Role</label>
                            <input type="text" name="role" class="form-control" required id="editRole"
                                aria-describedby="editRole">
                        </div>

                        <div class="mb-3">
                            <label for="editDateStarted" class="form-label">Date Started</label>
                            <input type="text" name="date_started" class="form-control" required id="editDateStarted"
                                aria-describedby="editDateStarted">
                        </div>

                        <div class="mb-3">
                            <label for="editDateEnd" class="form-label">Date Ended</label>
                            <input type="text" name="date_ended" class="form-control" required id="editDateEnd"
                                aria-describedby="editDateEnd">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCenter2" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalCenter2Title">Add Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="/submitVolunteer" method="post">
                        <div class="mb-3">
                            <label for="organization" class="form-label">Organization</label>
                            <input type="text" name="organization" required class="form-control" id="organization" aria-describedby="organization">
                        </div>
    
                        <div class="mb-3">
                            <label for="role" class="form-label">Role</label>
                            <input type="text" name="role" class="form-control" required id="role" aria-describedby="role">
                        </div>
    
                        <div class="mb-3">
                            <label for="date_started" class="form-label">Date Started</label>
                            <input type="text" name="date_started"  class="form-control" required id="date_started" aria-describedby="date_started">
                        </div>
    
                        <div class="mb-3">
                            <label for="date_ended" class="form-label">Date Ended</label>
                            <input type="text" name="date_ended" class="form-control" required id="date_ended" aria-describedby="date_ended">
                        </div>
    
                        <button type="submit" class="btn btn-primary w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    jSuites.calendar(document.getElementById('date_ended'), {
        type: 'year-month-picker',
        format: 'MMM-YYYY'
    });

    jSuites.calendar(document.getElementById('date_started'), {
        type: 'year-month-picker',
        format: 'MMM-YYYY'
    });

    jSuites.calendar(document.getElementById('editDateEnd'), {
        type: 'year-month-picker',
        format: 'MMM-YYYY'
    });

    jSuites.calendar(document.getElementById('editDateStarted'), {
        type: 'year-month-picker',
        format: 'MMM-YYYY'
    });
    
    function editform(e) {
        var id = e.getAttribute("data-id");
        var role = e.getAttribute("data-role");
        var organization = e.getAttribute("data-organization");
        var dateStarted = e.getAttribute("data-dateStarted");
        var dateEnded = e.getAttribute("data-dateEnded");

        document.getElementById("editId").value = id;
        document.getElementById("editRole").value = role;
        document.getElementById("editOrganization").value = organization;
        document.getElementById("editDateStarted").value = dateStarted;
        document.getElementById("editDateEnd").value = dateEnded;
    }

    function follow(link) {
        location.href = link
    }
</script>

{%endblock%}